

@import "tailwindcss";
@layer theme, base, components, utilities;
@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');




*{
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
  /* overflow: hidden; */
}

body::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
div::-webkit-scrollbar {
  display: none; /* Hides the scrollbar */
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  max-width: 100vw;
  max-height:100vh;
}

img{
  height: 100%;
  width: 100%;
}



.flex{
  display: flex;
}
.flex-c{
  display: flex;
  flex-direction: column;
}
.full-W{
  width: 100vw;

}
.half-W{
  width: 50vw;
}
.full-H{
  height: 100vh;
}
.half-H{
  height: 30vh;
}
.H-center{
  align-items: center;
}
.V-center{
  justify-content: center;
}
.H-100{
  height: 70px;
}

span,p,button{
  font-optical-sizing: auto;
  font-family: "Atkinson Hyperlegible Mono", serif;
  font-optical-sizing: auto;
  font-style: normal;

}

.size100-H{
  height: 100%;
}
.size100-W{
  width: 100%;
}


.button{
  background-color: #ffffff;
  color: black;
  width: 115px;
  height: 50px;
  transition: background-color 0.3s ease; 
  border: 1px solid black;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;


}
.button:hover{
  background-color:black;
  color: #007BFF;
  border-radius: 5px;
  
}
.boxShadow {
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}


@media (orientation: portrait) {
  .cartBox {
      flex-direction: column;
  }

  .seprator-V {
      display: none;
  }
  .just-items{
    flex-direction: column;
  }
  .itemCard{
    width: 74vw !important;
  }

}